
.form-contenedor{
    background-color: #0353A4;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    background-color: #FFFFFF;
    /*width:500px;*/
    margin:0px 0 0px 0;
    padding:10px;
    font-weight: bold;
    
}
label{
    display:block;
    margin-bottom:10px;
}