

.box{
    background-color: blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}